<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Baruch</title>
  <link href='http://fonts.googleapis.com/css?family=Marko+One' rel='stylesheet' type='text/css'>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<div class="center">
<h1>Baruch</h1>

<h2>Quick notes on the web. With <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>.</h2>

</div>

<div id="form" class="shadow">
<form name="note_form" action="/" method="post">
<div id="note" class="center">
<textarea name="note_text" rows=20>
Enter a note here in Markdown.
</textarea>
</div>
<br />
<div id="submit" class="center">
<a href='javascript:document.note_form.submit()'>Submit Note</a>  
</div>
</form>
</div>
</body>
</html>
