<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>baruch | view note</title>
  <link href="stylesheets/note.css" rel="stylesheet" type="text/css" media="screen" />
  <link rel="shortcut icon" href="/favicon.ico" />

</head>
<body>
<div id="note">
<%= markdown_parse(@note.note_text) %>
</div>
<div id="social_bar">
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</body>
</html>
